# Configuración de Base de Datos
DB_USER=admin_union
DB_PASSWORD=una_clave_segura_aqui
DB_NAME=registro_muni_union

# Seguridad de Sesión
JWT_SECRET=tu_clave_secreta_muy_larga_y_segura_aqui

# Conexión Frontend -> Backend
# REEMPLAZA "localhost" por la IP real de tu servidor Ubuntu
NEXT_PUBLIC_API_URL=http://localhost:4000/api
